/* Component styles */
@font-face {
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.component {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 100%;
    max-width: 850px;
	overflow: hidden;
}
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;

}

td, th {
    padding: 0.75em 1.5em;
    /*text-align: center;*/
}


.left-align{
	text-align: left!important;
	padding-left:2%!important;
}

.right-align{
	text-align: right!important;
	padding-right:2%!important;
}


td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    /*background-color: #31bc86;*/
    font-weight: bold;
    /*color: #fff;*/
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover  th{
    /*background-color: rgba(129,208,177,.3);*/    
    background-color: rgba(51, 122, 183, 0.28);
    color: #fff;
}

tbody tr:hover  th  td{
    /*background-color: rgba(129,208,177,.3);*/    
    background-color: rgba(51, 122, 183, 0.28);
    color: #fff;

}


/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 107;
}


/*custom*/
.sticky-col th {
	/*border: 1px solid #ddd;*/

}


.sticky-table tbody td,
.sticky-table thead td {
	border: 1px solid #ddd;
}

.sticky-table tbody th,
.sticky-table thead th {
	background-color: #043664;
}

.sticky-table tbody tr:hover {
    background-color: #cdcdcd;
    color: #fff;
}

.sticky-table table {
	overflow:hidden;
}

.sticky-col tbody th:first-child,
.sticky-table tbody th:first-child {
	border: 1px solid #ddd;
	background-color: #ddd ;
	color: #2F2F2F ;
}


.sticky-thead  thead  {
	background-color: #043664;
}

.sticky-thead  thead tr ,
.sticky-table thead tr,
.sticky-table tbody th {
	color: #fff ;
}


.sticky-table  tbody tr th {
	font-size: 18px;,	
}
.sticky-col, .sticky-col tbody tr, .sticky-col tbody, .sticky-table  tbody tr, .sticky-table  tbody {
	width: 120px;
}

.sticky-table thead th:first-child {
	    background-color: #666;
}

.sticky-table-geral .sticky-wrap:last-of-type thead th:first-child {
	background-color: #043664!important;
}

.hidden-field{
	display:none!important;
}

.form-group.file{
	margin:0px;
}


.loader {
  border: 5px solid #00162a;
  border-radius: 50%;
  border-top: 5px solid #ffab22;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.hide-loader{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.hide-loader>span{
	margin-left:2px;
}


.small-field{
  width:30%;
}

.mini-field{
  width:20%;
}


.inline-field{
  min-width:200px; 
  margin-bottom:25px;
  display:inline-block!important;
}