html, body {
	height: 100%;
}
.container {
	   display: table;
	   height: 100%;
}
.center_content {
	display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

.error-center {
	margin-right: 3%;
}

.error-msg {
	margin-top: 26px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}