html {
	/*min-height: 100%;*/
	/*overflow-y:scroll;*/
	height: 100%;
	line-height: 1;
	/*height:auto;*/
}

body {
	/*overflow-y:scroll;*/
	/*height: auto; */
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

@font-face {
  font-family: FontAwesome;
  src: url(../font/fontawesome-webfont.eot);
  src: url(../font/fontawesome-webfont.eot?#iefix) format('embedded-opentype'),
       url(../font/fontawesome-webfont.woff) format('woff'),
       url(../font/fontawesome-webfont.ttf) format('truetype'),
       url(../font/fontawesome-webfont.svg#fontawesomeregular) format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
    font-family: BebasNeue-Bold;
    src: url(../font/fontes/BebasNeue_Bold_0.otf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../font/fontes/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../font/fontes/OpenSans-Light.ttf);
}

.beer-image {
    width: 100%;
    max-height: 80%;
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 320px;
  height: 320px;
}

.outer-container {
	min-height: 94%;
}

.btn-gray, .btn-gray:visited, .btn-gray:active {
	background: #777777;
	border-color: #989595;
	color: #FFF;
}

.btn-gray:hover {
	background: #8E8D8D;
	;
	border-color: #989595;
	color: #FFF;
}

.table-striped>thead, .table-striped>thead tr th a {
	/*background-color: #cdcdcd ;
	background-color: #E7E6E6 ;*/
	background-color: #00162a!important;
	color: #fff !important;
}

.table-striped-gray>thead, .table-striped-gray>thead tr th a {
	background-color: #cdcdcd;
	color: #3A3A3A !important;
}

.table-striped>tbody>tr:nth-of-type(even) {
	background-color: #FFF;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #FFF;
}

.table-striped>tbody>tr:hover {
	/*background-color: #f1f1f1;    */
	background-color: #337ab7;
	color: #fff;
}

.table>thead>tr>th>a {
	color: #00162a;
}

.table-striped>tbody>tr>td {
	vertical-align: middle;
}

.navbar-default {
    background-color: #00162a!important;

}

.navbar-default a{
    color: #fff!important;
}

.navbar-default a:hover{
    background-color: #fff!important;
    color: #00162a!important;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-right-collum {
	text-align: right;
	padding-right: 35px !important;
}

.form-group input, select {
	/*margin-bottom: 20px;*/
}

.form-group {
	margin-bottom: 25px;
}

.btn-danger:hover {
	border-color: #E0433F;
}

.btn-primary, .link-bt, .nav-pills>li.active>a, .btn-success, .list-group-horizontal>a.active {
	background: #00162a;
	border-color: #00162a;
	/*background: #325B80;*/
	color: #fff;
}

.btn-primary:active, .btn-primary.active, .btn-success:active, .btn-success.active, .btn-success:hover, .item-active:hover {
	background: #337ab7 !important;
	border-color: #337ab7 !important;
	box-shadow: none !important;
}

.btn-danger {
	background: #931B1C;
	border-color: #931B1C;
	color: #fff;
}

.btn-danger:active, .btn-danger.active {
	background: #c9302c;
	border-color: #c9302c;
	box-shadow: none;
}

.nav-pills>li>a {
	color: #00162a;
}


/*horizontal menu*/

.list-group-horizontal .list-group-item {
	display: inline-block;
}

.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left: -4px;
	margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
}


/*link bt*/

.link-bt {
	font: 14px Helvetica, Arial, sans-serif;
	text-decoration: none;
	padding: 7px 12px;
	position: relative;
	display: inline-block;
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-o-transition: border-color .218s;
	transition: border-color .218s;
	border: solid 1px #dcdcdc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-right: 20px;
	cursor: pointer;
	background-color: #fff;
	color: black;
	text-decoration: none;
}

.link-bt:hover {
	color: #FFF;
	background: #337ab7;
	border-color: #337ab7;
	box-shadow: none;
}

.link-bt:link {
	text-decoration: none;
}

.tr-suspended {
	background-color: #FFE5E5 !important;
}


/*success green btn*/

.btn-success-green {
	color: #fff;
	background-color: #55A056;
	border-color: #5cb85c;
}

.btn-success-green:hover {
	background-color: #57CA59;
	border-color: #5cb85c;
}

.bt-wi-75 {
	width: 75px;
}

.footer-text {}

.footer-container {
	display: table;
	/*  width: 250px;
	  height: 100px;*/
	text-align: center;
}

#footer {
	color: #fff;
	background-color: #ffab22;
	width: 100%;
    min-height:10px;

}

#footer a {
	color: inherit;
	text-decoration: none;
}

.container {
  min-height: 100%;
}


/*navbar*/

.navbar {
	margin-bottom: 0px;
}

.has-menu-bar {
	margin-top: 20px;
}

.pad-top-20 {
	padding-top: 10px;
}

.list-group {
	margin-bottom: 0px;
}


/*table*/

.align-middle {
	display: table-cell;
	vertical-align: middle;
}

.vertical-center {
	height: 100%;
	/*margin-top: 200px;*/
	display: table;
}

#form-olvidado, #form-olvidado1 {
	border-left: 1px solid #cdcdcd !important;
	padding: 20px;
}

.navbar-brand {
    background: url(http://login.beerspy.com.br/img/logo_beer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 50px;
    padding: 16px 60px!important;
    font-size: 18px;
    line-height: 20px;
}

#brand-link:hover{
	background-color:#00162a!important;
}



.bt-search {
	background-color: #fff;
	color: black;
	border-color: #cdcdcd;
	margin-top: 10px;
}

.pad-left-15 {
	padding-left: 15px !important;
}

.sectors label {
	margin-right: 10px;
}

.time label, .date label {
	margin-right: 10px;
}

.big-title {
	color: #00162a;
	font-weight: 600;
}

legend {
	border-bottom: 2px solid #e5e5e5;
}

#navbar-collapse-1 {
	background-color: #cdcdcd;
	background-color: #FFF;
}

.max-header {
	max-width: 1170px !important;
	padding: initial;
	margin: auto;
}

.form-input {
	font-weight: normal;
	display: block;
	border: none !important;
}

.form-input-inline {
	font-weight: normal;
	display: inline-block;
}

.btn-group-multiselect, .bt-multiselect {
	width: 100%
}

.bt-multiselect span {
	float: left;
}

.bt-multiselect b {
	float: right;
}

.sub-menu {
	margin-bottom: 20px;
}


/*breadcumb*/

.btn-breadcrumb .btn:not(:last-child):after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 100%;
	z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid rgb(173, 173, 173);
	position: absolute;
	top: 50%;
	margin-top: -17px;
	margin-left: 1px;
	left: 100%;
	z-index: 3;
}


/** The Spacing **/

.btn-breadcrumb .btn {
	padding: 6px 12px 6px 24px;
}

.btn-breadcrumb .btn:first-child {
	padding: 6px 6px 6px 10px;
}

.btn-breadcrumb .btn:last-child {
	padding: 6px 18px 6px 24px;
}

.btn-default:hover {
	color: #fff;
}


/** Default button **/

.btn-breadcrumb .btn.btn-default:not(:last-child):after {
	border-left: 10px solid #F9F9F9;
	border-left: 10px solid #E7E6E6;
	border-left: 10px solid #fff;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):before {
	border-left: 10px solid #ccc;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
	border-left: 10px solid #337ab7;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
	border-left: 10px solid #337ab7;
}

.btn-breadcrumb .btn.btn-default:hover {
	color: #fff
}

#breadcumb div {
	margin-left: 15px;
}

.custom-breadcumb a {
	background-color: #F9F9F9;
	background-color: #E7E6E6;
	background-color: #fff;
	outline: 0;
}

.item-active {
	border-color: #00162a;
	background-color: #00162a;
	color: #fff !important;
}

.breadcumb-active {
	/*background-color: #DFDFDF !important ;*/
	background-color: #00162a !important;
	color: #fff;
}

.breadcumb-active:hover {
	background: #337ab7 !important;
	border-color: #337ab7 !important;
	box-shadow: none !important;
	color: #fff;
}

.navbar-header {
	margin-left:15px !important;
}

.room-table .form-group {
	width: 50%;
	margin: 0;
}

.room-table .form-group input {
	/*border: none;*/
}


/*accordion*/

#accordion .glyphicon {
	margin-right: 10px;
}

.panel-collapse>.list-group .list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.panel-collapse>.list-group .list-group-item {
	border-width: 1px 0;
}

.panel-collapse>.list-group {
	margin-bottom: 0;
}

.panel-collapse .list-group-item {
	border-radius: 0;
}

.panel-collapse .list-group .list-group {
	margin: 0;
	margin-top: 10px;
}

.panel-collapse .list-group-item li.list-group-item {
	margin: 0 -15px;
	border-top: 1px solid #ddd !important;
	border-bottom: 0;
	padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item:last-child {
	padding-bottom: 0;
}

.panel-collapse div.list-group div.list-group {
	margin: 0;
}

.panel-collapse div.list-group .list-group a.list-group-item {
	border-top: 1px solid #ddd !important;
	border-bottom: 0;
	padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item {
	border-top: 1px solid #DDD !important;
}


/*accordion*/

.funkyradio div {
	clear: both;
	/*overflow: hidden;*/
}

.funkyradio label {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
	font-weight: normal;
}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
	display: none;
}

.funkyradio input[type="radio"]:empty~label, .funkyradio input[type="checkbox"]:empty~label {
	position: relative;
	line-height: 2.5em;
	/*text-indent: 3.25em;*/
	padding-left: 50px;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before, .funkyradio input[type="checkbox"]:empty~label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
	color: #FFF;
	content: '\2714';
	text-indent: .9em;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label, .funkyradio input[type="checkbox"]:hover:not(:checked)~label {
	color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before, .funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked~label, .funkyradio input[type="checkbox"]:checked~label {
	color: #777;
}

.funkyradio input[type="radio"]:checked~label:before, .funkyradio input[type="checkbox"]:checked~label:before {
	content: '\2714';
	text-indent: .9em;
	color: #333;
	background-color: #ccc;
}

.funkyradio input[type="radio"]:focus~label:before, .funkyradio input[type="checkbox"]:focus~label:before {
	box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before, .funkyradio-default input[type="checkbox"]:checked~label:before {
	color: #333;
	background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked~label:before, .funkyradio-primary input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked~label:before, .funkyradio-success input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked~label:before, .funkyradio-danger input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked~label:before, .funkyradio-warning input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked~label:before, .funkyradio-info input[type="checkbox"]:checked~label:before {
	color: #fff;
	background-color: #5bc0de;
}

.btn-margin-right {
	margin-right: 4px;
}

.menu-text-padding {
	padding-left: 5px;
}

.ui-autocomplete {
	position: absolute;
	z-index: 1000;
	cursor: default;
	padding: 0;
	margin-top: 2px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete>li {
	padding: 10px 10px;
}

.ui-autocomplete>li.ui-state-focus {
	background-color: #DDD;
}

.ui-helper-hidden-accessible {
	display: none;
}

.bt-menu-margin {
	margin-left: 15px !important;
}

.btn span.glyphicon {
	opacity: 0;
}

.btn.active span.glyphicon {
	opacity: 1;
}


/*@media (max-width: 900px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;

	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}*/

@media (max-width: 600px) {
	.nav>li>a {
		position: relative;
		display: block;
		padding: 10px 30px;
	}
	#footer {
		color: #fff;
		background-color: #00162a;
		/* clear: both; */
		/* position: absolute; */
		/* bottom: 0; */
		width: 100%;
		height: 25%;
		/* height: 50px; */
	}
	.nutritionalAssessments .sticky-wrap:first-of-type {
		width: 70% !important;
	}
	.nutritionalAssessments .sticky-wrap {
		width: 30% !important;
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}
	.navbar-nav {
		margin-left: 0.5%;
	}
}

.hide {
	display: none !important;
}

.mg_top {
	margin-top: 20px;
}

label.mandatory:after {
	content: ' *';
	color: red;
	display: inline;
}

.mandatory-message {
	color: red;
	font-size: 0.9em;
}

.panel-title a {
	text-decoration: none;
}

.panel-heading:hover {
	background-color: #ECECEC;
}

.hide-element {
	display: none;
}

@media only screen and (max-width: 800px) {
	unseen table td:nth-child(2), unseen table th:nth-child(2) {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	unseen table td:nth-child(4), #unseen table th:nth-child(4), #unseen table td:nth-child(7), #unseen table th:nth-child(7), #unseen table td:nth-child(8), #unseen table th:nth-child(8) {
		display: none;
	}
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-webkit-transition: height 0.35s ease 1s linear;
	-moz-transition: height 0.35s ease 1s linear;
	-o-transition: height 0.35s ease 1s linear;
	-ms-transition: height 0.35s ease 1s linear;
	transition: height 0.35s ease 1s linear;
	-webkit-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

. animation ( @animation ) {
	-webkit-animation: @animation;
	animation: @animation;
	-webkit-transform: translateZ(0);
}

.critical_row {
	background-color: #FF5C5C !important;
	color: #FFF;
}

.critical_row:hover {
	/*  background-color: #FB4F4F !important;
	*/
}

form fieldset {
	border: none;
}

.sub-item {
	padding-left: 45px;
}


/* Tabs panel */

.tabbable-panel {
	background-color: #ececec;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}

.tabbable-line>.nav-tabs>li.active.bartheindexes {
	border-bottom: none;
	margin-right: 0;
}

.bartheindexes .tab-content {
	padding: 0 15px !important;
}

#tipo {
	margin-top: 5px;
}

.escondeDiv {
	display: none;
}


/* Default mode */

.tabbable-line>.nav-tabs {
	border: none;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
}

.tabbable-line>.nav-tabs>li {
	margin-right: 1%;
	min-height: 48px;
	border-bottom: 4px solid #bdbdbd;
	background-color: #fff;
	margin-bottom: 8px;
	flex-grow: 1;
	text-align: center;
}

.tabbable-line>.nav-tabs>li>a {
	border: 0;
	margin-right: 0;
	color: #737373;
	outline: 0;
}

.tabbable-line>.nav-tabs>li>a>i {
	color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
	border-bottom: 4px solid #fbcdcf;
}

.tabbable-line>.nav-tabs>li.open>a, .tabbable-line>.nav-tabs>li:hover>a {
	border: 0;
	background: none !important;
	color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i, .tabbable-line>.nav-tabs>li:hover>a>i {
	color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu, .tabbable-line>.nav-tabs>li:hover .dropdown-menu {
	margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
	border-bottom: 4px solid #f3565d;
	position: relative;
}


/*.tabbable-line > .nav-tabs > li.active > a {*/

.tabbable-line>.nav-tabs>li>a {
	border: 0;
	color: #333333;
}


/*.tabbable-line > .nav-tabs > li.active > a > i {*/

.tabbable-line>.nav-tabs>li>a>i {
	color: #404040;
}

.tabbable-line>.tab-content {
	margin-top: -3px;
	background-color: #fff;
	border: 0;
	border-top: 1px solid #eee;
	padding: 15px 15px;
}

.portlet .tabbable-line>.tab-content {
	padding-bottom: 0;
}


/* Below tabs mode */

.tabbable-line.tabs-below>.nav-tabs>li {
	border-top: 4px solid transparent;
}

.tabbable-line.tabs-below>.nav-tabs>li>a {
	margin-top: 0;
}

.tabbable-line.tabs-below>.nav-tabs>li:hover {
	border-bottom: 0;
	border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below>.nav-tabs>li.active {
	margin-bottom: -2px;
	border-bottom: 0;
	border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below>.tab-content {
	margin-top: -10px;
	border-top: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

.grupo-select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.space-top {
	margin-top: 30px;
	/*float: right;*/
}

.f-bottom {
	clear: both;
	position: relative;
}

.consultar-cep {
	margin-top: 19px;
}

#apache_ptos {
	margin-top: 0px;
	margin-bottom: 30px;
}

.elipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 200px;
}

.min-height-table tbody tr {
	height: 36px;
}

.panel-heading:hover {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}

.shortcuts {
	text-align: center;
}

.back-shortcuts {
	min-width: 353px;
	text-align: left;
	width: 31%;
	display: inline-block;
	padding: 38px 0px;
	margin: 0 .9% 1em;
	vertical-align: top;
	text-decoration: none;
	background: #FFF;
	border-radius: 5px;
	height: 200px;
}

.back-shortcuts ul li {
	list-style: none;
	line-height: 23px;
}

.back-shortcuts ul li a {
	font-size: 15px;
	text-decoration: none;
	color: #868686;
}

.back-shortcuts ul li a:hover {
	color: #00162a;
}

.back-shortcuts ul li:before {
	content: "•";
	color: #00162a;
	vertical-align: bottom;
	font-size: 190%;
	/* or whatever */
	padding-right: 5px;
}

#avaliacao-substitute ul li a {
	font-size: 13px;
}

#avaliacao-substitute {
	/*padding:20px 0px;*/
}

#avaliacao-substitute ul {
	padding-left: 19px;
}

.shortcuts .shortcut {
	min-width: 353px;
	width: 31%;
	display: inline-block;
	padding: 38px 0px;
	margin: 0 .9% 1em;
	vertical-align: top;
	text-decoration: none;
	/* background: #f9f6f1; */
	background: #FFF;
	border-radius: 5px;
	height: 200px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	font-size: 32px;
	color: #545454;
}

.shortcuts .shortcut:hover {
	background: #00162a;
}

.shortcuts .shortcut:hover span {
	color: #fff;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #fff;
}

.shortcuts .shortcut-label {
	margin-top: 10px;
	display: block;
	font-weight: bold;
	color: #545454;
}

#sihdot-img:hover img {
	content: url('../img/2a.png') !important;
}

#farmacia-img:hover img {
	content: url('../img/1b.png') !important;
}

#enfermagem-img:hover img {
	content: url('../img/3b.png') !important;
}

#avaliacao-img:hover img {
	content: url('../img/4b.png') !important;
}

#jejum-img:hover img {
	content: url('../img/5b.png') !important;
}

#fisioterapia-img:hover img {
	content: url('../img/6b.png') !important;
}

#checklists-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/checklist.png') !important;
}

#sihdot-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
}

#meta-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/metas.png') !important;
}

#ccih-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/ccih-dash.png') !important;
}

#cirurgico-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/cirurgico.png') !important;
}

#escores-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/escore.png') !important;
}

#suporte-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/suporte.png') !important;
}

#emergencia-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/emergencia.png') !important;
}

#parecer-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/parecer-dash.png') !important;
}

#avaliacao-img img {
	height: 71%;
	width: 28% !important;
	margin-bottom: Opx !important;
	content: url('../img/bundles-dash.png') !important;
}

#fisioterapia-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
}

#enfermagem-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
}

#nutricional-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
}

#farmacia-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
}

#protocolos-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/protocolo-dash.png') !important;
}

#gh-img img {
	width: 30% !important;
	margin-bottom: Opx !important;
	content: url('../img/gh-dash.png') !important;
}

.div-pading {
	padding: 0 10px;
}

.row-no-margin {
	margin-right: 0;
	margin-left: 0;
}

.no-bottom {
	margin-bottom: 0 !important;
}

.circle {
	margin-left: 10px;
	display: inline-block;
	background: black;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	background: radial-gradient(circle at 13px 14px, #235DFF, #676767);
}

#classificacao-sugerida {
	display: inline;
}


/*checkbox*/

.btn span.glyphicon {
	opacity: 0;
}

.btn.active span.glyphicon {
	opacity: 1;
}

.custom-box-container {
	padding-top: 18px;
}

.no-border {
	border: none !important;
}

.panel-default>.panel-heading {
	background-color: #ECECEC;
}

.panel-default:hover {
	background-color: #337ab7;
}

.hover-blue li:hover {
	background-color: #337ab7 !important;
}

.hover-blue li:hover>a {
	color: #FFF !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #337ab7;
	color: #FFF !important;
}

.hover-gray:hover a {
	/*color: black !important;*/
	/*color: #337ab7 !important;*/
	background-color: #337ab7 !important;
}

.panel-footer {
	background-color: #fff;
}

.multiselect-container {
	width: 100%;
}

.txtArea {
	min-height: 200px;
}

.add-icon {
	line-height: 68px !important;
	font-size: 22px !important;
	color: #00162a;
}

tbody th {
	color: #404040;
	background-color: inherit !important;
}

.table {
	display: table;
	/* Allow the centering to work */
	margin: 0 auto;
}

#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

#horizontal-list li {
	display: inline;
}

.btn-default:hover {
	background-color: #337ab7;
}

.table_1 {
	width: 120px;
}

.content_table .sticky-wrap {
	width: 360px !important;
}

.content_table table {
	float: left;
}

.color_tr {
	background-color: #fff !important;
}

.content-table-2 table {
	float: left;
}

.sticky-table-1 {
	width: 200px;
}

.content-table-2 .sticky-wrap {
	width: 200px;
}

.sticky-table-geral div .sticky-table-1 {
	width: 250px;
	float: left;
}

.sticky-table-geral div:first-child {
	width: 335px;
	float: left;
}

.sticky-table-geral .sticky-wrap {
	width: 515px;
	float: left;
}

.th-title {
	font-size: 14px !important;
}

.sticky-table-geral td, .sticky-table-geral th {
	height: 41px;
	border-bottom: 1px solid #ddd;
}

.sticky-table-geral .sticky-wrap .sticky-thead th {
	/*background-color: blue;*/
}


/*test*/

.procedimento_emergencial_2 {
	display: none;
}

.selected {
	background-color: #4A4A4A;
	color: #FFF;
}

.dropdown-menu li:hover a {
	background-color: #337ab7;
	color: #fff;
}

.ui-autocomplete {
	/*overflow: auto;*/
	max-height: 300px;
}

@media (max-width: 979px) {
	.back-shortcuts {
		width: 43%;
	}
	.shortcuts .shortcut {
		width: 43%;
	}
}

@media (max-width: 480px) {
	.back-shortcuts {
		width: 80%;
	}
	.shortcuts .shortcut {
		width: 80%;
	}
}

.necessidade_de_profilaxia {
	display: none;
}

.funkyradio-display {
	display: none;
}

.bg-blue {
	background: radial-gradient(circle at 13px 14px, #0036FF, #5676EA);
}

.dd-selected-text img {
	/* margin: 27px 0 0 10px;*/
	max-width: 40px;
}

.nutritionalAssessments .sticky-wrap {
	float: left;
}

.nutritionalAssessments .sticky-wrap {
	width: 20%;
}

.nutritionalAssessments .sticky-wrap:first-of-type {
	width: 80%;
}

.nutritionalAssessments .sticky-thead th, .table-responsive-plano .sticky-thead th {
	padding: 8px;
}

.funkyradio-display {
	display: none;
}

.th_no_bold {
	font-weight: normal;
}

.th_no_bold:hover {
	color: #000000;
}

.thin-th {
	font-weight: normal;
}

.daily-bundles-tbody tr:hover th {
	color: #000 !important;
}

.daily-bundles-tbody, .daily-bundles-tbody td {
	height: 40px !important;
}

table tbody tr td .btn {
	min-width: 64px;
}

.dash-div {
	background-color: #00162a;
}

.dash-div ul li a, .dash-div ul li::before {
	color: #fff;
}

.dash-div ul li:hover a, .dash-div ul li:hover::before {
	color: #ccc;
}

.bed-management-left {
	width: 30% !important;
	border: 0;
	height: auto;
	float: left;
	margin-left: 5%
}

.bed-management-right {
	width: 80%;
	height: auto;
	border: 0;
	float: left;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.bed-management thead tr td {
	/*padding-left: 0px;  */
}

.bed-management tbody tr td, .bed-management tbody tr {
	background-color: whitesmoke;
	border: none;
	text-align: right;
	/*padding-right: 10px;*/
	text-transform: uppercase;
}

.bed-management-right tbody tr td {
	text-align: left;
	padding-left: 10px;
}

.title-date {
	background-color: #00162a;
	color: #fff;
	font-weight: bold;
}

.dd-option-image, .dd-selected-image {
	max-width: 34px !important;
}

.dd-selected-text {
	line-height: 2 !important;
}

.calendar-box {
	transition: all .2s ease-in-out;
	justify-content: center;
	display: flex;
	width: 90px;
	height: 60px;
	background-color: #00162a;
	border-radius: 2px;
	align-items: center;
}

.box-checked, calendar-box:hover {
	background-color: #337ab7;
	transform: scale(1.1);
}

.calendar-box p {
	color: #fff;
	text-align: center;
	font-weight: 600;
}

.calendar-box-container {
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.table-space {
	margin-bottom: 20px;
}

.label_title {
	font-weight: bold;
}

.list-sector-surgeries>tbody>tr>td {
	text-align: left;
}

.actions{
    text-align:center;
}

.yellow-buttons, .yellow-buttons:focus{
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    border: unset;
    border-radius: 15px;
    padding: 1px 34px;
    background-color: #ffab22;
    margin-bottom: 2%;
    margin-top: 3%;
}

.yellow-buttons:hover{
	background-color: #f5c983!important;
}
.red-buttons:hover{
	background-color: #f97571!important;
}
.red-buttons, .red-buttons:focus{
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    border: unset;
    border-radius: 15px;
    padding: 1px 34px;
    background-color: #ff5954;
    margin-bottom: 2%;
    margin-top: 3%;
}


.new-beer{
    margin-right:4%;
}

.container.clearfix{
    min-height:100%!important;
}

.navbar-collapse.in{
    position: relative!important;
    background: #00162a!important;
    z-index: 1000;
    color:;
}

.page-title{
	font-size: 28px;
	font-family:OpenSans-Bold;
	color:#00162a;
}

label{
	font-family:OpenSans-Light;
}

.red{
	color:red;
}

.icon-add-remove-fields{
	cursor: pointer;
	height: 10px;
    cursor: pointer;
    margin-left: 7%;
}

.inline-flex-add{
	display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.inline-flex-add .form-group{
	width: 88%!important;
}

.mini-field{
	width: 30%!important;
}

.medium-field{
	width: 50%!important;
}

.action-icons{
	width: 27px;
    height: 27px;
}


@media (min-width: 1887px){
.navbar-right {
    float: right!important;
    margin-right: -33%;
}

@media (mix-width: 768){
.navbar-right {
    float: right!important;
    margin-right: -15%!important;
}

.left-align{
	text-align: left!important;
}

.right-align{
	text-align: right!important;
}


.left-align th,td,tr{
	text-align: left!important;
}

.right-align th,td,tr{
	text-align: right!important;
}

.hidden-field{
	display:none!important;
}

.form-group.file{
	margin:0px;
}

.loader {
  border: 5px solid #00162a;
  border-radius: 50%;
  border-top: 5px solid #ffab22;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.hide-loader{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.hide-loader>span{
	margin-left:2px;
}


.small-field{
  width:30%;
}

.mini-field{
  width:20%;
}

.inline-field{
  min-width:200px;
  margin-bottom:25px;
  display:inline-block!important;
}
