    .chart-gauge
    {
      width: 400px;
      margin: 10px auto  
     } 
    .chart-first
    {
        /* azul */
        fill: #428bca;                        
    }
    .chart-second
    {
         /* verde */
        fill: #5cb85c;
        
    }
    .chart-third
    {
        /* amarelo */
        fill: #ffe638;
        
    }
     .chart-fourth
    {               
        /* vermelho */
        fill: #d9534f   ;
    }

    .needle, .needle-center
    {
        fill: #615c5c;
    }
    .text {
        color: "#112864";
        font-size: 16px;
    }
    

    svg {
      font: 10px sans-serif;
    }
    


