.alert {
	margin-bottom: 0px !important;
}

.container {
height: calc(100% - 50px) !important;

}

.login-input{
	width: 100%;
}

.max-header{
	max-width: 1170px !important;
}


.logo-container{
    display: table;
    min-width: 550px;
    /*height: 296px;*/
}

.logo-container div{
    display: table-cell;
    vertical-align: middle;
}





@media(min-width:768px){

.logo-container{
	min-height: 250px;
}

.logo-container div img{
    float: right !important;
}

}


@media(max-width:767px){

}

